/node_modules/
build/*

.idea/
.env
Dockerfile
docker-compose.yml

.DS_Store
src/.DS_Store
.scannerwork/**

.vscode/

*/.DS_Store
frontend-module-generator/**/__MACOSX
frontend-module-generator/**/node_modules
frontend-module-generator/**/.env
dist

