//
// avatar.scss (avatar thumbnail sizes)
//

.avatar-xs {
  height: 1.5rem;
  width: 1.5rem;
  overflow: inherit;
}

.avatar-sm {
  height: 3rem;
  width: 3rem;
  overflow: inherit;
}

.avatar-md {
  height: 4.5rem;
  width: 4.5rem;
  overflow: inherit;
}

.avatar-lg {
  height: 6rem;
  width: 6rem;
  overflow: inherit;
}

.avatar-xl {
  height: 7.5rem;
  width: 7.5rem;
  overflow: inherit;
}

.avatar-title {
  align-items: center;
  background-color: $primary;
  color: $white;
  display: flex;
  font-weight: $font-weight-semibold;
  height: 100%;
  justify-content: center;
  width: 100%;
}
