@import 'dashboard-mixin';

.filter-section {
  display: grid;
  gap: 0.94rem;
  justify-content: space-between;
  padding: 1.5rem;
  grid-template-columns: 1fr 1fr auto;
  border-radius: 0.25rem;
  background: $white;
  box-shadow: 2px 0px 27px 0px rgba(15, 71, 116, 0.08);
  margin-bottom: 1.56rem;
  @media (max-width: 576px) {
    grid-template-columns: 1fr;
  }
  .btn {
    margin-top: 1.8rem;
    @media (max-width: 576px) {
      margin-top: 0rem;
    }
  }
}

.dashboard-container {
  display: grid;
  gap: 1.2rem;
  grid-template-columns: auto 1fr;
  justify-content: space-between;

  @media (max-width: 992px) {
    gap: 1rem;
  }
  @media (max-width: 768px) {
  }
  .top-section {
    @include top-section;
    .top-title {
      @include top-title;
    }
  }
  .top-action {
    @include top-action;
    .chat-icon,
    .table-icon,
    .export-icon {
      @include action-icon;
    }
  }
  .card-body-section {
    padding: 1.125rem;
  }
  .site-graphic {
    display: grid;
    gap: 1.2rem;
    justify-content: space-between;
    height: fit-content;
    grid-column: 1/2;
    @media (max-width: 768px) {
      grid-column: 1/3;
    }
    .summary-info {
      display: grid;
      gap: 1.37rem;
      justify-content: space-between;
      grid-template-columns: repeat(3, 1fr);
      grid-column: 1/4;
      height: fit-content;
      @media (max-width: 992px) {
        gap: 1rem;
      }
      @media (max-width: 576px) {
        grid-template-columns: 1fr;
      }
      .info {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 0.5rem;
        border-radius: 0.25rem;
        background: $white;
        box-shadow: 2px 0px 27px 0px rgba(15, 71, 116, 0.08);
        &.property {
          @include summary-card(#845adf);
          .item-icon {
            @include item-icon(#845adf);
            i {
              @include summary-icon();
            }
          }
          .item-count-detail {
            @include item-count-detail();
            h4 {
              @include item-count();
            }
            p {
              @include item-detail();
            }
          }
        }
        &.installed-doser {
          @include summary-card(#24b7e5);
          .item-icon {
            @include item-icon(#24b7e5);
            i {
              @include summary-icon();
            }
          }
          .item-count-detail {
            @include item-count-detail();
            h4 {
              @include item-count();
            }
            p {
              @include item-detail();
            }
          }
        }
        &.livestock-equivalent {
          @include summary-card(#12c2c2);
          .item-icon {
            @include item-icon(#12c2c2);
            i {
              @include summary-icon();
            }
          }
          .item-count-detail {
            @include item-count-detail();
            h4 {
              @include item-count();
            }
            p {
              @include item-detail();
            }
          }
        }
      }
    }

    .site-info {
      display: grid;
      gap: 1rem;
      justify-content: space-between;
      grid-column: 1/4;
      // grid-template-columns: repeat(2, minmax(19.5625rem, min-content));
      grid-template-columns: repeat(2, 1fr);
      @media (max-width: 992px) {
      }
      @media (max-width: 576px) {
        grid-template-columns: auto;
      }
      .status-info1 {
        display: grid;
        // grid-template-columns: repeat(2, minmax(19.5625rem, min-content));
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        justify-content: space-between;
        grid-column: 1/3;
        height: fit-content;
        @media (max-width: 992px) {
          grid-column: 1/4;
        }
        @media (max-width: 576px) {
          grid-template-columns: repeat(1, 1fr);
          grid-column: 1/4;
        }
        .cost-status {
          display: grid;
          background-image: url('../../../../assets/images/livestock.png');
          background-repeat: none;
          background-position: center;
          background-size: cover;
          border-radius: 0.25rem;
          min-width: 10.9375rem;
          min-height: 12.5rem;
          overflow: hidden;
          box-shadow: 2px 0px 27px 0px rgba(15, 71, 116, 0.08);
          @media (max-width: 576px) {
            grid-template-columns: repeat(1, 1fr);
            grid-column: 1/4;
          }
          .image-overlay {
            background: linear-gradient(
              314deg,
              rgba(0, 164, 219, 0.64) 0%,
              rgba(5, 106, 141, 0.71) 100%
            );
            width: 100%;
            height: 100%;
            padding: 1.5rem;
            display: grid;
            gap: 0.3rem;
            .cost-info {
              display: flex;
              justify-content: space-between;
              gap: 2.69rem;
              .cost-title {
                color: $white;
                font-size: 1.2rem;
                font-weight: 500;
              }
              .cost-icon {
                i {
                  font-size: 2.25rem;
                  color: $white;
                }
              }
            }
            .amount {
              color: $white;
              font-size: 2rem;
              font-weight: 800;
            }
          }
        }

        .nutrient-status {
          @include status-card;
          display: grid;
          @media (max-width: 576px) {
            grid-template-columns: repeat(1, 1fr);
            grid-column: 1/4;
          }
        }
        .nutrient-properties-status {
          @include status-card;
          display: grid;
          grid-column: 1/3;
          @media (max-width: 576px) {
            grid-template-columns: repeat(1, 1fr);
            grid-column: 1/4;
          }
        }
      }
      .status-info2 {
        display: grid;
        gap: 1.2rem;
        justify-content: space-between;
        grid-column: 3/4;
        height: fit-content;
        @media (max-width: 992px) {
          grid-column: 1/4;
          grid-row: 2/3;
        }
        .cost-property-status {
          @include status-card;
          display: grid;
          @media (max-width: 992px) {
            grid-column: 1/4;
          }
        }

        .supplement-status {
          @include status-card;
          display: grid;
          @media (max-width: 992px) {
            grid-column: 1/4;
          }
        }
      }
    }
    .map-status {
      @include status-card;
      display: grid;
      grid-column: 1/4;
      height: fit-content;
    }
    .map-section {
      max-width: 60rem;
      max-height: 25.625rem;
      overflow: hidden;
      .map-overlay {
        background: linear-gradient(
          314deg,
          rgba(0, 164, 219, 0.64) 0%,
          rgba(5, 106, 141, 0.71) 100%
        );
        width: 100%;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  .site {
    display: grid;
    grid-column: 2/3;
    gap: 1.2rem;
    justify-content: space-between;
    // grid-template-columns: repeat(1, minmax(16.5625rem, min-content));
    // grid-template-columns: 1fr;
    height: fit-content;
    @media (max-width: 576px) {
      grid-column: 1/3;
      gap: 1rem 0;
    }

    .site-status {
      display: grid;
      grid-column: 1/2;
      @include status-card;
      grid-column: 1/2;
      .total-doser {
        color: #07092f;
        font-size: 1.125rem;
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        .doser {
          color: #7c7d8f;
          font-size: 0.875rem;
          font-weight: 500;
        }
      }
      .lines {
        display: flex;
        padding: 0 0 0.69rem 0;
        justify-content: center;
        align-items: center;
        .red-line {
          @include line(#e6533c);
        }
        .green-line {
          @include line(#26bf94);
        }
        .yellow-line {
          @include line(#f5b849);
        }
      }
      .doser-info {
        display: flex;
        align-items: flex-start;
        gap: 0.5rem;
        justify-content: space-between;
        margin-bottom: 0.5rem;
        .doser-status {
          color: #424360;
          font-size: 0.875rem;
          font-weight: 500;
          &.running {
            &::before {
              @include dot(#26bf94);
            }
          }
          &.stoped {
            &::before {
              @include dot(#e6533c);
            }
          }
          &.warning {
            &::before {
              @include dot(#f5b849);
            }
          }
        }

        .doser-amount {
          color: #07092f;
          text-align: right;
          font-size: 0.875rem;
          font-weight: 500;
        }
      }
    }
    .rainfall-status {
      @include status-card;
      display: grid;
      grid-column: 1/2;
      @media (max-width: 576px) {
        grid-column: 1/4;
      }
      .map-section {
        .map {
          max-width: 17.74475rem;
          max-height: 17.74475rem;
          overflow: hidden;
          @media (max-width: 768px) {
            max-width: 36.74475rem;
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .rainfall-indicator {
          display: flex;
          gap: 0.87rem;
          justify-content: center;
          padding: 0.94rem 0.5rem;
          .rainfall-info {
            color: #7c7d8f;
            font-size: 0.75rem;
            font-weight: 500;
            display: flex;
            align-items: center;
          }
        }
        .rainfall-area {
          display: flex;
          flex-direction: column;
          gap: 0.63rem;
          .rainfall-info {
            display: flex;
            justify-content: space-between;
            .location {
              color: #424360;
              font-size: 0.875rem;
              font-weight: 500;
              display: flex;
              align-items: center;
            }
            .rainfall-total {
              color: #07092f;
              text-align: right;
              font-size: 0.875rem;
              font-weight: 500;
            }
          }
        }
        .maximum {
          @include rain-status(url('../../../../assets/icons/maximum.svg'));
        }
        .minimum {
          @include rain-status(url('../../../../assets/icons/minimum.svg'));
        }
        .average {
          @include rain-status(url('../../../../assets/icons/average.svg'));
        }
      }
    }
    .news-status {
      @include status-card;
      display: grid;
      grid-column: 1/2;
      @media (max-width: 768px) {
        grid-column: 1/2;
      }
      .news-feed {
        margin-top: -1rem;
        .new-section {
          display: flex;
          gap: 0.5rem;
          flex-direction: column;
          justify-content: flex-start;
          border-bottom: 1px solid #ebecf2;
          padding: 1rem 0;

          .news-title {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            color: $secondary3;
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            &:hover {
              color: $primary;
              cursor: pointer;
            }
            .news-date {
              color: #acacbe;
              font-size: 0.625rem;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
          }
          .news-details {
            display: grid;
            gap: 0.5rem;
            grid-template-columns: 3.75rem 1fr;

            .news-image {
              width: 3.75rem;
              height: 3.75rem;
              border-radius: 0.25rem;
              box-shadow: 4px 14px 22px 0px rgba(15, 71, 116, 0.11);
              overflow: hidden;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
            .news {
              display: flex;
              flex-direction: column;
              justify-content: flex-start;
              text-align: justify;
              color: #7c7d8f;
              font-size: 0.75rem;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              .readmore {
                color: #acacbe;
                font-size: 0.7rem;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                text-align: right;
                &:hover {
                  color: $secondary3;
                  cursor: pointer;
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }
    }
  }
}
