.filter-wrapper {
  .filter-toggle:after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.15em;
    content: '';
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
  }

  .btn-link {
    color: $gray;
  }

  .filter-list {
    max-height: 170px;
    overflow-x: auto;
  }
}

.clear-filter-btn {
  color: $gray;
}
