.unified-dashboard {
  #dashboard-map-view {
    height: 100%;
  }

  .content-page {
    margin-left: 0;
    padding: 70px 24px;
  }

  .navbar-unified {
    position: fixed;
    width: 100%;
    z-index: 1;
    padding: 0 24px;
    background-color: $white;
    min-height: 70px;
    border-bottom: 1px solid #ebecf2;

    .nav-user {
      padding: 0 !important;
    }
  }

  .footer {
    left: 0;
  }

  .analytics-card {
    display: flex;
    flex-direction: column;
    background-color: $white;
    box-shadow: 0rem 0.375rem 1.875rem 0rem #0f477412;
    border-radius: 0.375rem;
    padding: 0.75rem;
    gap: 0.5rem;
    overflow: hidden;
  }

  .chart-container {
    height: 100px;
    transition: max-height 0.5s ease-in-out;
  }

  @media screen and (max-width: 992px) {
    .unified-dashboard-analytics .row > :nth-last-of-type(2),
    .unified-dashboard-analytics .row > :last-child {
      margin-top: 1.5rem !important;
    }
  }

  @media screen and (min-width: 768px) {
    .unified-dashboard-analytics .row > :nth-last-of-type(2) {
      margin-top: 0 !important;
    }
  }

  @media screen and (max-width: 576px) {
    .unified-dashboard-analytics .row > :first-child {
      margin-bottom: 1.5rem !important;
    }

    .chart-container {
      height: 200px;
    }
  }
}
